@{
    ViewData["Title"] = "Home Page";
}

<div class="azure-container">
    <div class="timezones-container" id="timezones">
        <div class="timezone" id="timezone-template" style="display: none;" data-offset="120">
            <div class="timezone__time">
                12:00
            </div>
            <div class="timezone__name">
                City
            </div>
            <div class="timezone__info-row">
                <label for="ttl-change-template" class="timezone__ttl">TTL </label>
                <input type="checkbox" class="timezone__ttl" name="ttl-change-template" id="ttl-change-template">
            </div>
            <button class="timezone__diff">Diff</button>
        </div>
        <form id="create-form" novalidate>
            <div class="form-row">
                <label for="create-form-name">Name: </label>
                <input type="text" name="create-form-nam" id="create-form-name" required />
            </div>
            <div class="form-row">
                <input type="number" name="create-form-offset" id="create-form-offset" required />
            </div>
            <div class="form-row">
                <input type="submit" value="Create new" />
            </div>
        </form>
    </div>
    <div class="diff-container" id="diff-container">
        0 hours
    </div>
</div>

<script src="~/js/timezones.js" asp-append-version="true"></script>